/* ie */

#layout {
  min-width: 985px;
  width: expression(document.documentElement.clientWidth < 985 ? '985px' : 'auto');
  height: expression('1%');
}

p, #content {
  line-height: 140%;
}

h1 {
  line-height: 175%;
}

h2 {
  line-height: 150%;
}

h3 {
  line-height: 135%;
}

h4 {
  line-height: 120%;
}

h5 {
  line-height: 110%;
}

h6 {
  line-height: 100%;
}

#header h1 {
  line-height: 36px;
}
