/* pre.css */

code {
  font-size: 100%;
  font-family: monospace;
}

pre {
  font-size: 100%;
  font-family: monospace;
  padding: 0px 5px 25px 5px;
  margin: 10px 5px 20px 15px;
  overflow: auto;
  width: 90%;
  behavior: url(/behaviors/pre.htc);
  line-height: 100%;
}

pre.none {
  behavior: none;
}

.pseudoPreDiv {
  color: #000000;
  line-height: 100%;
  margin: 10px 5px 20px 15px;
}

.pseudoPreHeader {
  background-color: #000000;
  color: #ffffff;
  padding: 6px 6px;
  width: auto;
  font-size: 125%;
  font-weight: bold;
}

.pseudoPreInnerDiv {
  color: #000000;
}

.pseudoPreDiv ol {
  list-style-type: decimal;
  color: #000000;
  margin: 1px 1px 1px 45px;
  padding: 0px;
  line-height: 100%;
  border: 1px solid #000000;
}

.pseudoPreDiv li {
  color: #000000;
  font-family: monospace;
  margin: 0px;
  padding: 1px 3px 1px 3px;
  white-space: normal;
  line-height: 100%;
  cursor: text;
  border-style: none;
  border-color: #ffffff;
  border-width: 1px 0px;
}

.pseudoPreDiv li.focused {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.pseudoPreNumber {
  color: #0000ff;
}

.pseudoPreQuotedValue {
  color: #0000ff;
}

.pseudoPreTagHTML {
  color: navy;
}

.pseudoPreTagTable {
  color: teal
}

.pseudoPreTagForm {
  color: #ff8000;
}

.pseudoPreTagImg {
  color: purple;
}

.pseudoPreTagComment {
  color: #808080;
}

.pseudoPreTagCF {
  color: maroon;
}
