* {
  margin: 0px;
  padding: 0px;
}

body {
	background: white;
	background-repeat: no-repeat;
	background-position: center;
	color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 1.2em;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	border-bottom: thin solid black;
	font-size: 2em;
	margin: 1em 0;
	padding: 0 0 .25em;
}

h2 {
	font-size: 1.6em;
	margin: 1em 0;
	padding: 0;
}

h3 {
	font-size: 1.3em;
	margin: 1em 0;
	padding: 0;
}
