#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 10pt;
border-bottom: 1px solid gray;
}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

#tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-right: 3px;
border: 1px solid #000000;
border-bottom: none;
background-color: #CC9999;
}

#tablist li a:link, #tablist li a:visited{
color: #FFFFFF;
}

#tablist li a:hover{
background-color: #663366;
}

#tablist li a.current{
background-color: #663333;
}